<div class="container title mt-4">
    <div class="row">
        <div class="col">
            <h1><i class="fa-solid fa-user-plus text-success ms-3"></i> &nbsp; Add Contact Page</h1>
            <p style="text-align: justify;" class="mt-5 p-3">
                This is a dummy data : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum architecto accusantium, sequi ab laboriosam dolorum harum ex consequatur, at rem modi quibusdam cupiditate animi, vel optio atque eligendi sed iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cupiditate quibusdam assumenda, quae possimus rerum dicta reprehenderit, omnis officia iste sequi consequuntur similique culpa earum ab accusantium? Veniam, molestias laboriosam!
            </p>
        </div>
    </div>

     <!-- <pre>{{contact | json}}</pre>  -->


    <!-- add contact form -->
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 border p-3 rounded ms-2">
                <form >
                    <div class="mb-2">
                        <input name="id" [(ngModel)]="contact.id" placeholder="Id   eg:ca1" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)]="contact.name" name="contactName" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="Photo" [(ngModel)]="contact.photo" placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="Email" [(ngModel)]="contact.email" placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="Mobile" [(ngModel)]="contact.mobile" placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="company" [(ngModel)]="contact.company" placeholder="Company Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="title" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2 mt-3">
                        <select name="groupId" [(ngModel)]="contact.groupId" class="form-control">
                            <option value="" selected hidden disabled >Select A Group</option>
                            <option value="{{group.id}}" *ngFor="let group of allGroups">{{group.name}}</option>
                            

                        </select>
                    </div>
                    <div class="mb-2 mt-3">
                        <input (click)="addContact()" value="Create" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-danger ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4 ms-5 mt-4">
                <img [src]="contact.photo" alt="Photo" class="contact_img border border-success">

            </div>
        </div>
    </div>

</div>
